body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: .75fr repeat(2, 1fr) .75fr;
    grid-template-rows: .7fr 50px 1fr 1fr 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    background-color: #1892d3;
    color: white;
    padding-bottom: 36px;
}

.sidebar > div {
    display: grid;
    grid-template-rows: 50px 250px 150px;
    grid-gap: 48px;
    padding: 24px;
    font-size: 12pt;
    font-weight: bold;
    justify-content: start;
}

.sidebar > div > div > div {
    padding: 12px 0;
}


.sidebar .sidebar-title {
    font-size: 16pt;
}

.sidebar-title img {
    width: 40px; 
}

.sidebar-group1 > div,
.sidebar-group2 > div {
    display: grid;
    align-items: center;
    gap: 24px;
}

.sidebar-title {
    display: grid;
    align-items: center;
    gap: 12px;
    margin-left: -12px;
}

.sidebar-group1 img,
.sidebar-group2 img {
    max-width: 20px;
}


.header {
    grid-column: 2 / 5;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px 48px 24px 48px;
    box-shadow: 0px 3px 8px -2px #565d6899;
    z-index: 20;
}

.header div {
    font-size: 16pt;
    font-weight: bold;
}

.header > div > div > p {
    font-size: 14px;
}

.top-row {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 48px;
}

.top-row input {
    font-size: 18px;
    background-color: #e2e8f0;;
    border-radius: 12px;
    border: none;
    display: grid;
    max-width: 30rem;
}

.top-row img[src$='.svg'] {
    width: 25px;
}

.top-row img[src="images/surf.jpg"] {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.top-row > div {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
}

.search,
.profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 24px;
} 

.search {
    justify-content: start;
    grid-template-columns: 25px repeat(1, minmax(10rem, 30rem));
}

.profile {
    justify-content: end;
}

.bottom-row > div > div > p {
    font-size: 12px;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: start;
    grid-gap: 24px;
}

.greeting > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.greeting > div > p {
    margin: 0;
}

.greeting img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: end;
    grid-gap: 24px;
}

.btn button{
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    background-color: #1892d3;
    color: white;
    border: none;
    border-radius: 36px;
    padding: 12px 24px;
}



.bottom-row {
    display: grid;
    grid-auto-flow: column;
}

.projects {
    grid-column: 2 / 4;
    grid-row: 3 / -1;
    display: grid;
    background-color: #e2e8f0;
    padding-bottom: 36px;
    padding-left: 12px;
}

.project-title {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: #e2e8f0;
    padding: 30px 12px 12px 24px;
    font-weight: bold;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards img {
    max-width: 20px;
}

.cards > div {
    background-color: white;
    margin: 12px;
    padding: 24px;
    row-gap: 12px;
    column-gap: 12px;
    border-left: 8px solid #f0b32a;
    box-shadow: 0px 3px 8px -2px #565d6899;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-right {
    grid-column: 4;
    grid-row: 3 / -1;
    background-color: #e2e8f0;
    padding: 12px 24px 48px 12px;
    display: grid;
}

.announcements-title {
    grid-column: 4;
    grid-row: 2 / -1;
    background-color: #e2e8f0;
    padding: 30px 12px 12px 0;
    font-weight: bold;
}

.announcements-title > div {
    padding-left: 12px;
}

.announcements,
.trending {
    background-color: white;
    padding: 24px;
    box-shadow: 0px 3px 8px -2px #565d6899;
    border-radius: 6px;
    display: grid;
}


.cards > div > div > div {
    font-weight: bold;
}

.sidebar-right > div {
    display: grid;
}

.trending-container {
    display: grid;
}

.trending-title {
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 30px;
    display: grid;
    align-items: end;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.announcements > div > div {
    font-weight: bold;
    font-size: 10pt;
}

.line {
    border-bottom: 1px solid grey;
    margin-top: 12px;
    margin-bottom: 12px;
}

.announcements > div > p,
.trending > div > div > p {
    font-size: 9pt;
    color: grey;
    margin: 4px 0 0 0;
}

.trending > div > div > div {
    font-size: 12px;
}

.trending img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.trending > div {
    display: flex;
    gap: 12px;
    padding: 6px;
    align-items: center;
}

.cards > div > div > p {
    font-size: 11pt;
    color: grey;
    margin: 4px 0 0 0;
}

.cards > div > div {
    padding: 0;
}

.profile-name {
    font-size: 14px;
}